ul.reviews__list
  each review in reviews ? reviews : []
    li.reviews__item
      .reviews__wrapper
        .reviews__info
          .reviews__box-images
            img.reviews__img(
              src= review.img
              alt= review.alt
              width= review.width
              height= review.hight
            )
          .reviews__box
            if review.gender === "female"
              h3.reviews__name= review.name
              p.reviews__count Купила #{review.count} книг
            else if review.gender === "male"
              h3.reviews__name= review.name
              p.reviews__count Купил #{review.count} книг
        p.reviews__review= review.review